In [11]:
import pandas as pd
import yfinance as yf
from yahoofinancials import YahooFinancials

In [19]:
df = yf.download('AAPL',interval = "1m",start="2021-12-01", end="2021-12-03")

[*********************100%***********************]  1 of 1 completed

In [20]:
df

,Open,High,Low,Close,Adj Close,Volume
Datetime,,,,,,
2021-11-30 13:15:00-05:00,163.339996,163.489899,163.320099,163.440094,163.440094,0
2021-11-30 13:16:00-05:00,163.440002,163.639999,163.399994,163.490005,163.490005,174276
2021-11-30 13:17:00-05:00,163.483002,163.483002,163.149994,163.179993,163.179993,203560
2021-11-30 13:18:00-05:00,163.160004,163.375000,163.130005,163.375000,163.375000,295121
2021-11-30 13:19:00-05:00,163.375000,163.375000,163.220001,163.279800,163.279800,167743
...,...,...,...,...,...,...
2021-12-02 13:10:00-05:00,162.960007,163.070007,162.889999,162.989899,162.989899,198133
2021-12-02 13:11:00-05:00,162.990005,163.100006,162.964996,163.080002,163.080002,150026
2021-12-02 13:12:00-05:00,163.080002,163.129898,162.970001,163.110001,163.110001,140891
2021-12-02 13:13:00-05:00,163.119995,163.380005,163.100006,163.369995,163.369995,253455
2021-12-02 13:14:00-05:00,163.369995,163.460007,163.289993,163.460007,163.460007,215905

In [21]:
str = list()

In [59]:
l=[1,2,3]

In [32]:
l.insert(0,0)

In [58]:
l

[1, 2, 3, 3, 2, 3]

In [53]:
x =[2,3]

In [56]:
l[1:2]=x

In [97]:
l = [1,2,3]
x=[-2,1,0]
l[0:0]=x
print(l)
l = [1,2,3,1]
x=[-2,1,0]
map(lambda i:i*i,x)

[-2, 1, 0, 1, 2, 3]